.site{
    background-color: rgb(248, 240, 222);
}

.fever-navbar {
    height: 80px;
    background-color: #081120;
    position: sticky; /* Make navbar sticky */
    top: 0; /* Stick it to the top of the viewport */
    z-index: 1000; /* Ensure navbar is on top of other content */
    display: flex;
    flex-direction: column; /* Stack the navbar items vertically */
}

.fever-navbar .navbar-nav .nav-link {
    color: white !important; /* Set the text color to white */
    font-weight: bold;
}

/* Change text color on hover */
.fever-navbar .navbar-nav .nav-link:hover {
    color: #ff6600 !important; /* Change text color to orange when hovered */
}

/* Style for the active (selected) navbar item */
.fever-navbar .navbar-nav .nav-item.active .nav-link {
    color: #683896 !important; /* Set the selected item color to purple */
}

.body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 950px;
}

.wide-body {
    margin: auto;
    width: 95%;
}

.write-area {
    min-height: 75vh;
}

.post-title{
    text-align: center;
    /* padding-bottom: 30px; */
}

.post-main{
    text-align: left;
}

footer{
    background-color: white;
    /* padding-top: 10px; */
}

footer .footer-nav {
    background-color: rgb(236, 235, 235);
    padding-top: 20px;
    padding-bottom: 20px;
}

.base-footer{
    padding-top: 20px;
}

.progress-container {
    background-color: #f0f0f0;
    height: 10px;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 999;
}

.progress-bar {
    background-color: #f76300;
    height: 100%;
    min-width: 0px;
    transition: width 0.2s ease-in-out;
}
